/* DesktopIcon.module.css */
.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  
  .iconImage {
    width: 64px;
    height: 64px;
    z-index: 999;
  }
  
  .iconLabel {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
    z-index: 999;
  }
  
  .desktopIconContainer {
    position: relative;
    top: 120px; /* Adjusts the vertical position */
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .highlighted {
    background-color: #0078d4; /* Windows 95-style blue highlight */
    opacity: 0.8;
    border: 1px solid #fff;
    padding: 7px;
  }
  