/* App.css */

/* General App Styles */
  .App {
    font-family: "MS Sans Serif", Tahoma, Verdana, Segoe, sans-serif;
    color: #fff;
    background: teal;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
  }

  .noselect {
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none; /* For IE 10+ */
  }

  .App-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .App-header h1 {
    font-size: 2rem;
    color: #fff;
  }

  .App-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: silver;
    padding: 20px;
    border: 2px outset #fff;
    border-radius: 4px;
  }

  .App-content h2 {
    font-size: 1.5rem;
    color: #08216b;
  }

  .App-footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #000;
    color: #fff;
  }

  .App-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px outset #fff;
    background: silver;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1rem;
  }

  .App-button:hover {
    background: #c0c0c0;
    color: #424242;
    box-shadow: -1px -1px #000;
  }

  .avatar-window {
    width: 200px;
    border: 2px solid black;
    background-color: white;
    position: relative;
    left: -200px;
  }

  /* Header for the avatar window */
  .window-header {
    background-color: #08216b;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
  }

  .window-title {
    justify-content: space-between;
  }

  .window-header .btn-close {
    background-color: #c0c0c0;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    margin-right: 0;
    margin-left: auto;
  }

  .btn-close:hover {
    background-color: #a0a0a0;
  }

  /* Avatar styles */
  .avatar-container {
    display: flex;
    justify-content: center;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .main-content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }

  .container {
    max-width: 600px;
    position: relative;
  }

  .card {
    padding: 10px;
    position: fixed;
    top: 2.5%;
    margin-left: 42%;
  }

  .card-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  p {
    color: black;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #08216b;
  }

  /* Taskbar */
  .taskbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    color: #fff;
    bottom: 0;
    position: fixed;
  }

  /* Start Menu */
  .start-menu {
    position: fixed;
    bottom: 37px;
    left: 0;
    width: 260px;
    background-color: #c0c0c0;
    border: 2px outset #808080;
    z-index: 1000;
    animation: emerge 0.3s ease-out forwards;
  }

  .start-menu-header {
    padding: 10px;
    background-color: #000080;
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 2px outset #808080;
  }

  .start-menu-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .start-menu-content {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
  }

  /* Makes the start menu image looks pressed in */
  .start-menu-image {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    transition: transform 0.1s, box-shadow 0.1s;
  }

  .start-menu-image.active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }

  .menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .menu-item p {
    margin: 0;
  }

  .start-menu-image {
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    width: 100px;
  }

  .start-menu-image.active {
    filter: brightness(0.7);
  }

  /* Start Menu animation */
  @keyframes emerge {
    0% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
  }

  /* Modal Styling */
  .modal-content {
    position: fixed;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: silver;
    padding: 20px;
    border: 2px outset #000;
    z-index: 1000;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header .modal-title {
    margin: 0;
  }

  .modal-header .btn {
    background-color: #c0c0c0;
    color: #000;
    border: 2px outset #000;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
  }

  .modal-header .btn:hover {
    background-color: #a0a0a0;
  }

  /* Skills Window */
  .skills-window {
    max-width: 90vw;
    min-width: 400px;
    height: 315px;
    border: 2px outset white;
    background-color: silver;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    font-family: 'Verdana', sans-serif;
  }

  /* Window Content */
  .window-content {
    display: flex;
    padding: 10px;
    gap: 10px;
  }

  /* Skills List */
  .skills-list {
    max-height: 330px;
    width: 230px;
    overflow-y: auto;
    border: 2px outset black;
    background-color: white;
  }

  .skills-list li {
    font-size: 1rem;
    color: #000;
    margin-bottom: 8px;
    list-style: none;
    cursor: pointer;
  }

  .skills-list li label {
    display: block;
    width: 100%;
    cursor: inherit;
  }

  .skills-list .active-skill label {
    font-weight: bold;
    color: #08216b;
    text-decoration: underline;
  }

  /* Skill Details */
  .skill-details {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background-color: white;
    border: 2px outset black;
    overflow: hidden;
  }

  .skill-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #08216b;
  }

  .skill-details p {
    font-size: 1rem;
    color: black;
  }

  /* Navigation Buttons */
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /* Button Styles */
  .btn-primary {
    padding: 5px 10px;
    border: 2px outset #000;
    background-color: #c0c0c0;
    color: #000;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #a0a0a0;
  }


  /* Desktop Icons Container */
  .desktop-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  /* Specific Styling for Icons when needed */
  .desktop-icon-github,
  .desktop-icon-linkedin,
  .desktop-icon-discord,
  .desktop-icon-avatar,
  .desktop-icon-skills {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .desktop-icon-github img, 
  .desktop-icon-linkedin img,
  .desktop-icon-discord img,
  .desktop-icon-avatar img,
  .desktop-icon-skills img {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
  }

  .desktop-icon-github label, 
  .desktop-icon-linkedin label,
  .desktop-icon-discord label,
  .desktop-icon-avatar label,
  .desktop-icon-skills label {
    font-size: 12px;
    text-align: center;
    color: white;
  }

  /* Button Close Styling */
  .btn-close {
    margin-left: 342px;
    background-color: #c0c0c0;
    color: #000;
    border: 2px outset #000;
    width: 20px;
    height: 20px;
  }

  .btn-close:hover {
    background-color: #a0a0a0;
  }

  .menu-item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #c0c0c0;
    color: black;
    padding: 8px 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .menu-item p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  /* Start menu -> arrow positioning to the right */
  .menu-arrow {
    margin-right: 0px;
    color: black;
  }

  /* Text alignment for the menu text */
  .menu-text {
    color: black;
  }

  /* Hover effect for menu item */
  .menu-item:hover {
    background-color: #000080;
  }

  .menu-item:hover .menu-text,
  .menu-item:hover .menu-arrow {
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    left: 98%;
    top: 0;
    width: 200px;
    background-color: #c0c0c0;
    border: 2px outset #808080;
    padding: 10px;
    z-index: 1000;
  }

  /* Show the dropdown when hovering over the menu item */
  .menu-item:hover .dropdown-content {
    display: block;
  }

  .dropdown-content p {
    margin: 0;
    color: black;
    font-weight: bold;
  }

  .dropdown-content:hover,
  .dropdown-content p:hover {
    background-color: #000080;
    color: white;
  }

  .time {
    background-color: #d3d3d3;
    border: 1px solid white;
    padding: 6px 6px;
  }

  .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .dropdown-content:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
